extends layout

block content
  .container-fluid
    h1= title
    p Welcome to #{title}
    ul.nav.nav-pills
      li(role='presentation')
        a(href='/signup') 注册

      if(current_user)
        li(role='presentation')
          a(href='/signout') 退出
      else
        li(role='presentation')
          a(href='/signin') 登录


    #content index